/* Main container styling */
.banner {
  display: flex;
  position: relative;
  margin-top: 1.15rem;
}

.banner-img{
  object-fit: cover; /* Scale image to cover container */
  object-position: center; /* Center the image */
}
/* Banner text container with absolute positioning */
.banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Banner title styling */
.banner-title {
  color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 2.5%;
}

/* Banner description styling */
.banner-desc {
  color: #b6b5b5;
  font-size: x-large;
  padding-top: 2.5%;
  text-align: center;
}

/* Banner button section styling */
.banner-btn-section {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

/* Banner button styling */
.banner-btn {
  color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  transition: 0.2s ease-in-out;
}

/* Banner button hover effect */
.banner-btn:hover {
  transform: scale(105%);
  color: #264486;
  background-color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
}

/* reason section styling */
.reason {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  flex-direction: column;
}

#reason-title{
  font-weight: lighter;
}

.reason-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 75rem;
  height: 25rem;
  display: flex;
  flex-wrap: nowrap;
}

.reason-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  width: 25rem;
  flex: 0 0 auto;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.reason-item:hover{
  transform: scale(105%);
}

