/* Main container styling */
.banner {
  display: flex;
  position: relative;
  margin-top: 1.15rem;
}

.banner-img{
  object-fit: cover; /* Scale image to cover container */
  object-position: center; /* Center the image */
}
/* Banner text container with absolute positioning */
.banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Banner title styling */
.banner-title {
  color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 2.5%;
}

/* Banner description styling */
.banner-desc {
  color: #b6b5b5;
  font-size: x-large;
  padding-top: 2.5%;
  text-align: center;
}

/* Banner button section styling */
.banner-btn-section {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

/* Banner button styling */
.banner-btn {
  color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
  transition: 0.2s ease-in-out;
}

/* Banner button hover effect */
.banner-btn:hover {
  transform: scale(105%);
  color: #264486;
  background-color: #cecece;
  font-size: xx-large;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFF;
}

/* reason section styling */
.reason {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  flex-direction: column;
}

#reason-title{
  font-weight: lighter;
}

.reason-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 75rem;
  height: 25rem;
  display: flex;
  flex-wrap: nowrap;
}

.reason-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  width: 25rem;
  flex: 0 0 auto;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.reason-item:hover{
  transform: scale(105%);
}

.wrapper {
  margin-top: 10vh;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #264486;
}

.wrapper h1{
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  color: #cecece;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .4s ease-in-out;
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card:hover {
  .row > .icon {
    background: #cecece;
    color: #223;
    transition: .3s ease-in-out;
  } 
}

.card > .row {
  color: black;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-weight: bold;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  width: 520px;
  transition: all .3s ease-in-out;
  transform: translateY(30px);
  padding: 10px;
  background: linear-gradient(to bottom, #c5c5c5, #d3d3d3d3);
  border-radius: 15px;
}

.description p { 
  color: #3b3b3b;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 120px;
  text-align: justify;
}

.description h4 {
  text-transform: uppercase;
}

.card-radio {
  display: none;
}

.card-radio:checked + label {
  width: 600px;
}

.card-radio:checked + label .description {
  opacity: 1;
  transform: translateY(0);
}

.card[for="c1"] {
  background-image: url('../assets/poc.jpg');
}
.card[for="c2"] {
  background-image: url('../assets/exploit.bmp');
}
.card[for="c3"] {
  background-image: url('../assets/cve.bmp');
}
.card[for="c4"] {
  background-image: url('../assets/patch.bmp');
}

.faq{
  display: flex;
  text-align: center;
  padding-top: 25vh;
}

.faq-left{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.faq-right{
  display: flex;
  flex: 1;
  flex-direction: column;
}

details{
  padding-bottom: 20px;
  display:block; 
	width:300px;
	margin:10px;
}

summary {
	display:flex; 
	border-radius:5px;
	cursor:pointer;
  font-weight:bold;
  font-size: 2em;
  width: 35vw;
  justify-content: space-between;
}

summary::after {
  content: "+";
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  width: 20px;
  display: inline-block;
}

details[open] summary::after {
  content: "-";
}

details p {
	cursor:pointer;
  font-weight:lighter;
  font-size: 1em;
  width: max-content;
}